:root{
  font-size: 24px;
  font-family: sans-serif;
}
body{
  margin: 0;
  padding: 0;
  --background_darkpurple: #5c295a;
  --lightpurple: #762e73;
  --background_black: #1d1d1b;
  
  background-color: var(--background_darkpurple);
  color:white;
}

nav, #about{
  background-color: var(--background_black)
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}

nav a{
  color:inherit;
  text-decoration: none;
  padding: 8px;
}

nav a:hover{
  text-decoration: underline;
}

nav h1{
  margin: 0;
}

h3{
  margin-top: 30px;
 text-align: center;
 max-width: 50%;
 padding: 1%;
}

#events h3, #form h3{
  background-color:black;
}

#events > div{
  /* background-color:red; */
  padding: 2%;
  display: flex;
  justify-content: space-between;

}

#events button{
  width: 5%;
  background-color: transparent;
  color:white;
  border: transparent;
  font-size: 1.2em;
}

#events button:hover{
  cursor: pointer;
  font-size: 1.6em;
}

#events figure img{
  width: 250px;
  height: 150px;
  border-radius: 15px;
  box-shadow: black 2px 2px 4px;
}

#events figure p{
  font-size: 0.8em;
  margin: 0;
  opacity: 0.7;
} 

#events figure h4{
  margin: 0;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
}

#about h3{
  background-color: var(--background_darkpurple);
  /* margin-top: 30px; */
}

#about{
  padding: 2% 0;
}

#about div, #form div{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin-bottom: 80px;
}

#about div p, #form div > p{
  max-width: 40%;
  font-size: 2em;
}

.markersGroup > text{
  opacity: 0;
}

.markersGroup:hover{
  cursor:initial;
}

.markersGroup:hover > text{
  opacity: 1;
}

form{
  background-color: slategray;  
  min-width: 700px;
}

.error{
  font-size: 14px;
  margin: 0;
  color:rgb(255, 75, 75);
}

fieldset{
  padding: 2%;
  display: grid;
  place-content: center;
  justify-content: stretch;
}

fieldset div{
  display: flex;
  flex-direction: column;
}