:root{
  font-size: 24px;
  font-family: sans-serif;
}
body{
  margin: 0;
  padding: 0;
  --background_darkpurple: #5c295a;
  --lightpurple: #762e73;
  --background_black: #1d1d1b;
  
  background-color: var(--background_darkpurple);
  color:white;
}

nav, #about{
  background-color: var(--background_black)
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}

nav a{
  color:inherit;
  text-decoration: none;
  padding: 8px;
}

nav a:hover{
  text-decoration: underline;
}

nav h1{
  margin: 0;
}

#events figure img{
  width: 250px;
}

.cardsContainer{
  display: flex;
}